<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {{id}}
  <body>
    <h1 id="movie-title"></h1>
    <img id="movie-img" />
    <script>
      const params = {
        api_key: "08d7470a24ff85105a87a6bbdb74f099",
        language: "ko-Kr",
      };
      const url = "https://api.themoviedb.org/3/movie/" + "{{id}}";
      const movieTitle = document.getElementById("movie-title");
      const movieImg = document.getElementById("movie-img");
      console.log(url);
      function setMovie(movie) {
        movieTitle.innerText = movie.title;
        movieImg.src =
          "https://image.tmdb.org/t/p/original" + movie.backdrop_path;
      }

      async function fetchData(e) {
        const URLparams = new URLSearchParams({
          ...params,
        });
        try {
          console.log("start");
          const response = await fetch(url + "?" + URLparams);
          const json = await response.json();
          console.log(json);
          setMovie(json);
          return json;
        } catch (error) {
          console.log("fetch error: ", error);
        }
      }

      // window.onload = function () {
      //   console.log("onload");
      //   fetchData();
      // };
    </script>
  </body>
</html>
