<!-- 동헌 -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영화 추천 서비스</title>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

      :root {
        --swiper-theme-color: #ffffff;
      }
      *,
      html,
      body {
        font-family: "Noto Sans KR", sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #202123;
      }
      body {
        width: 100%;
        height: 100%;
      }
      a {
        text-decoration: none;
      }
      .container {
        max-width: 1230px;
        margin: 0 auto;
      }
      .header_wrapper {
        padding: 15px;
        background-color: #94cdff;
      }
      .header {
        max-width: 1230px;
        margin: 0 auto;
        padding: 80px 0;
        background-color: #94cdff;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .header-title {
        margin-bottom: 20px;
      }

      #input-title {
        text-indent: 10px;
        padding: 10px;
        line-height: 1.5;
        font-size: 24px;
        border-radius: 50px;
        outline: none;
        border: 2px solid #d2d2d2;
      }
      #input-title:focus,
      #input-title:hover {
        border: 2px solid #1568ff;
      }
      #input-title.oninput {
        border-radius: 10px 10px 0 0;
      }
      #movie-list {
        list-style-type: none;
        max-height: 500px;
        overflow: hidden;
        overflow-y: auto;
        border: 2px solid #1568ff;
        border-radius: 0 0 10px 10px;
        border-top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        position: absolute;
        background-color: white;
        z-index: 100;
      }
      .movie-item {
        width: 100%;
      }
      .movie-item:hover,
      .movie-item:focus {
        background-color: #eeeeee;
      }
      .movie-item > a {
        color: #202123;
        display: flex;
        padding: 10px;

        cursor: pointer;
      }
      .movie-item:not(:last-child) {
        box-shadow: 0px 1px 0px 0px #ccc;
      }
      .movie-item img {
        margin-right: 10px;
        border-radius: 4px;
      }

      #input-image-display {
        width: 200px;
      }

      .input-from {
        width: 500px;
        position: relative;
      }

      .input-from > input {
        width: 100%;
      }
      .recent_wrapper {
        padding: 15px;
        background-color: beige;
      }
      .recent {
        max-width: 1230px;
        margin: 0 auto;
      }
      .action_wrapper {
        padding: 15px;
        background-color: darkseagreen;
      }
      .comedy_wrapper {
        padding: 15px;
        background-color: pink;
      }

      .main-title {
        text-align: center;
        margin: 10px 0;
      }

      .comment-list {
        margin: 40px 0px;
        display: flex;
        justify-content: space-around;
        gap: 10px;
      }

      .comment-item {
        flex: 1;
        list-style: none;
        border-radius: 10px;
        overflow: hidden;
        max-width: 240px;
        background-color: white;
        position: relative;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        transform: translateZ(0);
        font-size: 0px;
      }

      .comment-item:hover {
        transform: scale(1.05);
      }
      .comment-item > a {
        display: inline-block;
        width: 100%;
      }
      .comment-item a img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 2/3;
      }

      .comment-title {
        color: #202123;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .comment-title:hover {
        text-decoration: underline;
      }
      .comment-content {
        padding: 20px;
      }
      .comment-rating {
        margin-top: 6px;
        font-size: 12px;
      }
      .comment-desc {
        font-size: 14px;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .comment-btns {
        display: flex;
        margin-top: 10px;
      }
      .btn {
        padding: 0.7rem 1.4rem;
        background-color: #1568ff;
        color: white;
        border-radius: 14px;
      }
      .btn:hover {
        cursor: pointer;
        background-color: #125be0;
      }

      .comment-genres {
        margin-top: 10px;
        line-height: 1.5;
        height: 51px;
      }
      .comment-genre {
        font-size: 13px;
        border: 1px solid rgb(123, 193, 255);
        border-radius: 20px;
        color: rgb(123, 193, 255);
        padding: 0px 4px;
        margin: 0 4px 4px 0;
        display: inline-block;
      }

      .comment-genre > a {
        color: inherit;
      }
      .comment-genre > a:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      /* swiper */

      .swiper-section {
        position: relative;
      }
      .movie-swiper {
        box-sizing: border-box;
        position: relative;
        padding: 20px 50px;
        overflow: hidden;
      }
      .swiper {
        width: 100%;
        height: 100%;
        overflow: initial;
        padding: 20px;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
      }
      .overflow-wrapper {
        padding: 10px;
        overflow: hidden;
      }

      .append-buttons {
        text-align: center;
        margin-top: 20px;
      }

      .append-buttons button {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
      }

      .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom, 20px);
      }

      /* footer */
      .footer_wrapper {
        border-top: 1px solid #ccc;
      }
      .footer {
        max-width: 1230px;
        margin: 0 auto;
        padding: 15px;
      }

      /*media*/

      @media (max-width: 800px) {
        .comment-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
        }
        .comment-item {
          margin-bottom: 20px;
          max-width: 300px;
        }
        .input-from {
          width: 100%;
        }
      }
      @media (max-width: 600px) {
        .comment-list {
          grid-template-columns: repeat(1, 1fr);
        }
        .comment-item {
          max-width: 500px;
        }
        .comment-btns {
          display: none;
        }
        .movie-swiper {
          padding: 10px 20px;
        }
        .swiper-button-next,
        .swiper-button-prev,
        .swiper-pagination {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="header_wrapper">
      <header class="header">
        <h1 class="header-title">영화 추천 서비스</h1>
        <div class="input-from" id="input-form">
          <input
            type="text"
            id="input-title"
            name="name"
            required
            minlength="2"
            maxlength="10"
            size="10"
            placeholder="영화를 검색하세요"
          />
          <ul id="movie-list"></ul>
        </div>
      </header>
    </div>
    <main class="main">
      <div class="recent_wrapper">
        <div class="container">
          <h2 class="main-title">코멘트 리스트</h2>
          <div class="swiper-section">
            <div class="movie-swiper">
              <div class="overflow-wrapper">
                <div #swiperRef="" class="swiper recentSwiper">
                  <div class="swiper-wrapper"></div>
                </div>
              </div>
              <div class="recentSwiper-button-next swiper-button-next"></div>
              <div class="recentSwiper-button-prev swiper-button-prev"></div>
              <div class="recentSwiper-pagination swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="action_wrapper">
        <div class="container">
          <h2 class="main-title">액션 영화</h2>
          <div class="swiper-section">
            <div class="movie-swiper">
              <div class="overflow-wrapper">
                <div #swiperRef="" class="swiper actionSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/2LfL0flDTgwJgoEhO9NhDLeDTTK.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">
                              가디언즈 오브 갤럭시: Volume 3
                            </h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            가모라를 잃고 슬픔에 빠져 있던 피터 퀼이 위기에 처한
                            은하계와 동료를 지키기 위해 다시 한 번 가디언즈 팀과
                            힘을 모으고, 성공하지 못할 경우 그들의 마지막이
                            될지도 모르는 미션에 나서는 이야기.
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/878">SF</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/12">모험</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/28">액션</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actionSwiper-button-next swiper-button-next"></div>
              <div class="actionSwiper-button-prev swiper-button-prev"></div>
              <div class="actionSwiper-pagination swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="comedy_wrapper">
        <div class="container">
          <h2 class="main-title">코미디 영화</h2>
          <div class="swiper-section">
            <div class="movie-swiper">
              <div class="overflow-wrapper">
                <div #swiperRef="" class="swiper comedySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                    <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/447365">
                          <img
                            src="https://image.tmdb.org/t/p/original/9RIY2JW0JLQl2MOXdkeFAVqP57T.jpg"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/447365">
                            <h5 class="comment-title">드림</h5>
                          </a>
                          <p class="comment-rating">⭐⭐⭐⭐⭐</p>
                          <p class="comment-desc">
                            선수 생활 사상 최악의 위기를 맞은 쏘울리스 축구 선수
                            홍대. 계획도, 의지도 없던 홈리스 풋볼 월드컵
                            감독으로 재능기부에 나서게 된다. 각본 없는 각본으로
                            열정리스 현실파 PD 소민이 다큐 제작으로 합류하게
                            되면서 뜯어진 운동화와 슬리퍼, 늘어진 반팔 티셔츠를
                            필두로 운동이라고는 한 번도 해본 적 없는 특별한
                            선수들이 국가대표로 선발된다. 택견인지 축구인지
                            헷갈리는 실력과 발보다 말이 앞서는 홈리스 선수들의
                            환장할 팀워크, 다큐에 대사와 상황 그리고 진정성 없는
                            연출을 강요하는 소민에 기가 막히는 감독 홍대. 하지만
                            포기할 틈도 없이, 월드컵 출전일은 코앞으로
                            다가오는데...
                          </p>
                          <div class="comment-genres">
                            <span class="comment-genre"
                              ><a href="/genre/18">드라마</a></span
                            >
                            <span class="comment-genre"
                              ><a href="/genre/35">코미디</a></span
                            >
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comedySwiper-button-next swiper-button-next"></div>
              <div class="comedySwiper-button-prev swiper-button-prev"></div>
              <div class="comedySwiper-pagination swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="footer_wrapper">
      <footer class="footer">
        <img
          width="100px"
          src="{{url_for('static',filename='img/api_logo.svg')}}"
          alt="themovie logo"
        />
        <p>2023 © 내일배움캠프 6기 7조. All rights reserved.</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
      // 상수 //
      const params = {
        api_key: "08d7470a24ff85105a87a6bbdb74f099",
        language: "ko-Kr",
        page: "1",
        include_adult: "false",
        query: "",
      };
      const list = document.getElementById("movie-list");
      const url = "https://api.themoviedb.org/3/search/movie";
      const inputForm = document.getElementById("input-form");
      const inputTitle = document.getElementById("input-title");

      // 이벤트 //

      document
        .querySelector("#input-title")
        .addEventListener("input", async (e) => {
          const results = await fetchMoviesData(e.target.value);
          setMovieList(results);
        });

      window.onload = (event) => {
        inputTitle.focus();
        //스와이퍼//
        let recentSwiper = new Swiper(".recentSwiper", {
          slidesPerView: 1,
          centeredSlides: true,
          spaceBetween: 10,
          loop: true,
          pagination: {
            el: ".recentSwiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".recentSwiper-button-next",
            prevEl: ".recentSwiper-button-prev",
          },
          breakpoints: {
            600: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            800: {
              slidesPerView: 3,
              spaceBetween: 20,
            },
            1100: {
              slidesPerView: 4,
              spaceBetween: 10,
            },
          },
        });
        let actionSwiper = new Swiper(".actionSwiper", {
          slidesPerView: 1,
          centeredSlides: true,
          spaceBetween: 10,
          loop: true,
          pagination: {
            el: ".actionSwiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".actionSwiper-button-next",
            prevEl: ".actionSwiper-button-prev",
          },
          breakpoints: {
            600: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            800: {
              slidesPerView: 3,
              spaceBetween: 20,
            },
            1100: {
              slidesPerView: 4,
              spaceBetween: 10,
            },
          },
        });
        let comedySwiper = new Swiper(".comedySwiper", {
          slidesPerView: 1,
          centeredSlides: true,
          spaceBetween: 10,
          loop: true,
          pagination: {
            el: ".comedySwiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".comedySwiper-button-next",
            prevEl: ".comedySwiper-button-prev",
          },
          breakpoints: {
            600: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            800: {
              slidesPerView: 3,
              spaceBetween: 20,
            },
            1100: {
              slidesPerView: 4,
              spaceBetween: 10,
            },
          },
        });
        listing(recentSwiper, 10);
      };

      inputForm.addEventListener("input", function (e) {
        if (e.target.value) {
          list.style.display = "block";
          inputTitle.classList.add("oninput");
        } else {
          list.style.display = "none";
          inputTitle.classList.remove("oninput");
        }
      });

      inputForm.addEventListener("focusin", function (e) {
        if (e.target.value) {
          list.style.display = "block";
        }
      });
      document.addEventListener("click", function (e) {
        if (hasFocus(inputForm)) {
        } else {
          list.style.display = "none";
        }
      });

      // 함수 //

      function hasFocus(element) {
        if (element === document.activeElement) {
          return true;
        }

        const children = element.children;
        for (let i = 0; i < children.length; i++) {
          if (hasFocus(children[i])) {
            return true;
          }
        }

        return false;
      }

      function createMovieItem(movie) {
        const newItem = document.createElement("li");
        newItem.classList.add("movie-item");
        const link = document.createElement("a");
        const content = document.createElement("div");
        const title = document.createElement("p");
        const date = document.createElement("p");
        link.href = `/movie/${movie.id}`;
        title.innerText = `${movie.title}(${movie.id})`;
        date.innerText = movie.release_date || "";
        if (movie.poster_path) {
          const newImage = new Image(50);
          newImage.src =
            "https://image.tmdb.org/t/p/w92" + movie.poster_path ||
            movie.backdrop_path;
          newImage.alt = movie.title;
          newImage.onerror = function (e) {
            this.src = "{{url_for('static',filename='img/no-image.png')}}";
          };
          link.appendChild(newImage);
        }
        content.appendChild(title);
        content.appendChild(date);
        newItem.addEventListener("click", function handleClick(e) {
          console.log("클릭");
          inputTitle.value = movie.title;
          inputTitle.focus();
        });
        link.appendChild(content);
        newItem.appendChild(link);
        return newItem;
      }

      function setMovieList(movieList) {
        if (movieList) {
          list.textContent = "";
          movieList.forEach((movie) => {
            list.appendChild(createMovieItem(movie));
          });
        }
      }

      async function fetchMoviesData(query) {
        const URLparams = new URLSearchParams({
          ...params,
          query: query,
        });
        try {
          const response = await fetch(url + "?" + URLparams);
          const json = await response.json();
          console.log(json);
          return json.results.slice(0, 5);
        } catch (error) {
          console.log("fetch error: ", error);
        }
      }

      async function fetchMovieData(id) {
        const URLparams = new URLSearchParams({
          api_key: params.api_key,
          language: params.language,
        });
        try {
          console.log("start");
          const response = await fetch(
            `https://api.themoviedb.org/3/movie/${id}` + "?" + URLparams
          );
          const json = await response.json();
          return json;
        } catch (error) {
          console.log("fetch error: ", error);
        }
      }

      function listing(swiper, length) {
        fetch(`/api/recent/${length}`)
          .then((res) => res.json())
          .then((data) => {
            data["result"].forEach((item) => {
              const name = item.name;
              const comment = item.comment;
              const star = item.star;
              const star_repeat = "⭐".repeat(star);
              fetchMovieData(item.movie_id).then((movie) => {
                const temp_html = `
              <div class="swiper-slide">
                      <li class="comment-item">
                        <a href="/movie/502356">
                          <img
                            src="https://image.tmdb.org/t/p/w342${
                              movie["poster_path"]
                            }"
                          />
                        </a>
                        <div class="comment-content">
                          <a href="/movie/502356">
                            <h5 class="comment-title">${movie.title}</h5>
                          </a>
                          <p class="comment-rating">${star_repeat}</p>
                          <p class="comment-desc">
                            ${comment}
                          </p>
                          <div class="comment-genres">
                            ${movie.genres.map((genre) => {
                              return `
                              <span class="comment-genre">
                                <a href="/genre/${genre.id}">${genre.name}</a>
                              </span>`;
                            })}
                          </div>
                        </div>
                      </li>
                </div>
              `;
                const slide = document.createElement("div");
                slide.classList.add("swiper-slide");

                slide.innerHTML = temp_html;
                swiper.appendSlide(slide);
              });
            });
          });
      }
    </script>

    <script>
      // swiper //
    </script>
  </body>
</html>
